In [1]:
"abc"*"bcd"

TypeError: can't multiply sequence by non-int of type 'str'

In [2]:
"abc"+"bcd"

'abcbcd'

In [4]:
import os
os.getcwd()

'C:\\Users\\123\\Day_4'

In [5]:
#orders of operation( basically follows PEMDAS for left to right)

#P-parenthesis()-1 proprity
#E-expontiation(**)-2 priority
#M- mulyiply(*)--3 pririty
#D-division(/)---3 priority
#A- add--4
#S-subratc--4 priority

2+3-1

4

In [6]:
1+1**5-2

0

In [7]:
2*3/2

3.0

In [8]:
(3+3)**2*2-5

67

In [9]:
# we cananot perform mathematical operation with strings

'1'-'2'

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [10]:
'eggs'/'hen'

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [1]:
'3'* 'tomjerry'

TypeError: can't multiply sequence by non-int of type 'str'

# Typecasting in python

In [2]:
#string/float to int
int(3.56585) # typecasting of float to int

3

In [3]:
float(56)

56.0

In [4]:
int('202')

202

In [5]:
type(202)

int

In [6]:
type('2020')

str

In [7]:
int('suraj')

ValueError: invalid literal for int() with base 10: 'suraj'

In [8]:
int('252.235')

ValueError: invalid literal for int() with base 10: '252.235'

In [9]:
# string/int to float is also done
float('202')

202.0

In [10]:
float(30)

30.0

# List

In [14]:
l =[15,45.23,[15,52,85],2+5j,"suraj"]
print(l)
type(l)

[15, 45.23, [15, 52, 85], (2+5j), 'suraj']

list